<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<title></title>
<link rel="stylesheet" href="http://pic.star428.com/group/css/style.css">
<script>
	window.onload = function() {
		var oBox = document.getElementById('main');
		var hour = new Date().getHours();
	};
</script>
</head>
<body>
<div class="main" >
    <div class="download_bar">
        <div class="logo"></div>
        <article>事大，专业聊八卦神器<br/>八卦是好奇者的天赋使命</article>
        <a class="download_link tc" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.star428.stars">立即下载</a>
    </div>
    <div class="top_bar">
        <div class="top_bar_back">返回</div>
        <div>事大</div>
    </div>
    <article class="tips1">
        你来晚了！<br/>
        八卦内容已自动销毁！
    </article>
    <div class="img_failedbox">
        <img src="http://pic.star428.com/group/img/image_share_h_failed.png" alt="" />
    </div>
    <article class="tips2">
        再也不想错过？！<br/>
        那就立刻<a href="">下载事大</a>---开始聊八卦！
    </article>
</div>
</body>
</html>